@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #15305a;
  --light-gray: #e6e6e6;
  --light-brown: #b0ae8a;
  --dark-gray: #0c0c0c;
}
body{
  background-color: var(--dark-gray);
}
